*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin-top: 15px;
}
ul a{
    text-decoration: none;
    color:#767676;

}
a:hover
{
    color: #333;
}
.btn{
    margin-top: 10px;
    background-color: #04ddb2;
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}
#download{
    margin-top: 5px;
}
.heading{
    text-align: center;
    margin-top: 60px;
}
#mainh{
    font-size: 50px;
}
span{
    color:#04ddb2;
}
.para{
    margin-top: 5px;
    font-size: 18px;
    color: #767676;
}
.video_back{
    width: 60%;
    height: 400px;
    background-color: #dfe6e7;
    border-radius: 20px;
    margin-top: 50px;
    position: relative;
    left: 20%;
    text-align: center;
}
video,source{
    margin-top:20px;
    border-radius: 15px;
}
#main1{
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}
.btn1{
    margin-top: 40px;
    background-color: #04ddb2;
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    left: 46%;
}
#download1{
    position: relative;
    top: 5px;
}
hr{
    margin-top: 50px;
    width: 80%;
    position: relative;
    left: 10%;
    color: #767676;
    opacity: 0.3;
}
.flooter{
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
}
ol li{
    list-style-type: none;
    margin-top: 20px;
    color: #767676;
    font-size: 12px;
}
#h{
    color:black;
    font-size: 16px;
}
#logo1{
    color: black;
    font-size: 24px;

}
#last_icon{
    position: relative;
    right: 5%;
    margin-top: 20px;
}



